/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/*Reset CSS start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Reset CSS end*/

body {
    background-color: #F7F8FC;
    font-family: Arial, sans-serif;
    padding: 20px;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

.logo{
    display:block;
    background:url('https://github.com/loading2022/FarEastoneHR-QA/blob/main/images/logo.png?raw=true') no-repeat;
    text-indent:101%;
    overflow:hidden; 
    white-space:nowrap; 
    width:140px;
    height:50px;
    background-size: contain;
    float:left;
}
.wrap {
    max-width: 1296px;
    margin: 0 auto;
}
img{
    width:150px;
}
.chat-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
}

.message {
    margin: 5px 0px;
    width: fit-content;
    border-radius: 3px;
}
.user {
    text-align: right;
    float: right;
    display: flex;
    flex-direction: row-reverse;
}
.fa-user {
    padding: 20px;
    font-size: larger;
}
.user p {
    background-color: #CFD9E6;
    margin-right: 10px;
    padding: 20px;
}
.assistant {
    clear: both;
    display: flex;
}
.fa-comment {
    padding: 20px;
    font-size: larger;
}
.assistant p {
    background-color: #D0CFE6;
    margin-left: 10px;
    border-radius: 3px;
    padding: 20px;
    line-height: 1.5;
}
.chat-history {
    width:70%;
    overflow-y: auto;
    height: 60vh;
}
#chat-form {
    width:80%;
    position: absolute;
    bottom: 20px;
    display: flex;
    border: 1px solid #CFD9E6;
    border-radius: 5px;
}

.user-input {
    width: calc(100% - 90px);
    padding: 20px;
    border: none;
    outline: none;
}
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.send-button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
}
.send-button:hover {
    background-color: #4cae4c;
    cursor: pointer;
}
button {
    vertical-align: top;
}
button i {
    color: #fff;
}
#startBtn, #stopBtn {
    padding: 10px 15px;
    background-color: #337ab7;
    border: none;
    cursor: pointer;
}
#stopBtn {
    background-color: #d9534f;
}
#startBtn:hover, #stopBtn:hover {
    opacity: 0.8;
}

.submit-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #a6d0fd;
    color:black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
    color:white;
}

.submit-button:active {
    background-color: #004d99;
    color:white;
}
@media (max-width: 768px) {
    .wrap {
        max-width: 90%;
        padding: 0 10px;
    }

    .chat-area {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .chat-history {
        height: 40vh;
        overflow-y: auto;
    }

    .message, .user p, .assistant p {
        max-width: 90%;
        word-wrap: break-word;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }

    .wrap, .chat-area, #chat-form {
        padding: 0; /* 減少padding以節省空間 */
        margin: 0 auto; /* 保持居中 */
    }
    #chat-form {
        flex-direction: column;
        align-items: stretch; /* 確保元素在容器中拉伸填充 */
    }
    
    .user-input, .send-button {
        width: 100%; /* 調整寬度為100% */
        margin: 2px 0; /* 減少上下間距 */
        padding: 12px 10px; /* 調整內邊距 */
    }
    
    h1 {
        font-size: 22px; /* 在小屏幕上減小字體大小 */
        margin-bottom: 10px;
    }
}
