<!DOCTYPE html>
<html>
<head>
    <title>Manager Page</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../static/all.css">
</head>

<body>
<div class="dashboard">
    <header>
      <h1>文件列表</h1>
    </header>
    <main>
        <ul class="folderList"></ul>
        <div class="list">
          <div class="filelist-group">
            <div class="fileList-nav"></div>
            <ul class="file-list"></ul>
          </div>
        </div>
    </main>
  </div>
  <script src="../static/index.js"></script>
</body>
</html>
